*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Popins', sans-serif;
}

body {
  background: #282626;
  height: 100vh;
  display: flex;

}

.circle-input {
  width: 200px;
  height: 200px;
  position: relative;
}

.extern{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #D9D9D9;
  box-shadow: 0px 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.outer {
  height: 180px;
  width: 180px;

  border-radius: 50%;
  padding: 19px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
             -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner{
  height: 140px;
  width: 140px;

  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
              inset -4px -4px 6px -1px rgba(255,255,255,0.7),
              -0.5px -0.5px 0px rgba(255, 255, 255, 1),
              0.5px 0.5px 0px rgba(0,0,0,0.15),
              0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: center;
  display: flex;
}

#circle-output{
  font-weight: 600px;
  color: black;
}

circle {
  fill: none;
  stroke: #0B99FF;
  stroke-width: 20px;
  stroke-dasharray: 502;

}

svg {
  position: absolute; 
  transform:rotate(-90deg); 
  top: 0;
  left:0; 
}
  
.circular-input {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  cursor: grab;
  z-index: 2;
}


