/* Styles for main container */
html {
    font-family: Inter, serif;
    background-color: red; /* to show the bad border */
}

title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr
}

.main-container .left-container{
    background-color: #373434;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container .left-container a{
    padding: 19px 24px;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.main-container .left-container a:hover{
    padding: 19px 24px;
    border: none;
    background-color: #282626;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

/* Styles for header section */
.header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.header-logo {
  width: 40px;
  height: 40px;
  background-color: #fff;
}

/* Styles for main content */
.main {
  padding: 20px;
  background-color: #222;
  color: #fff;
}

/* Styles for password section */
.passwd-section {
  border: none;
  padding: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-block {
  display: flex;
  align-items: center;
}

.search-block button {
  background-color: transparent;
    border: none;
}

.search-block input {
  padding: 5px;
  border: 1px solid #777;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
}

.add-password-block button{
    border-radius: 4px;
    background-color: #0B99FF;
    border: none;
    padding: 8px 20px;
}

.passwd-list {
  display: flex;
  flex-wrap: wrap;
}

.passwd-item {
    background-color: #DBDCD6;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.passwd-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.passwd-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 60px;
    padding-left: 60px;
}

.passwd-info-row {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.password-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.password-section h5{
    color: #5E5E51;
}

.password-section h4{
    padding: 5px 100px 5px 5px;
    background-color: #5E5E51;
    color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.password-section button{
    background-color: transparent;
    border: none;
}


.passwd-block{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.passwd-name{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.passwd-name button{
    border: none;
    background-color: transparent;
}

.passwd-name h5{
    padding-right: 20px;
    color: #5E5E51;
}

.passwd-name h4{
    padding: 5px 300px 5px 5px;
    background-color: #5E5E51;
    color: #FFFFFF;
    border-radius: 5px;
    float: right;
}

.passwd-edit-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for popup container */
.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  border: 1px solid #777;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

.popup-close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #fff;
}
