/* Style the form */
body {
    background-color: #373434; /* to show the bad border */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

h1{
    color: white;
}

h2{
    color: #5E5E51;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

label{
  color: #5E5E51;
}

.regForm {
    background-color: #DBDCD6;
    padding: 10px 10px 10px 10px;
    min-width: 300px;
    min-height: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

/* Style the input fields */
input {
    background-color: #5E5E51;
    padding: 10px 15px 10px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
}

button{
    border-radius: 4px;
    background-color: #0B99FF;
    border: none;
    padding: 8px 20px;
}

button:hover {
    background-color:deepskyblue;
    border-radius: 4px;
    border: none;
    padding: 8px 20px;
}

input.invalid {
  background-color: #ffdddd;
}

.tab {
  display: none;
}


.step {
  height: 15px;
  width: 15px;
  margin-bottom: 10px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #0B99FF;
}