* {
    font-family: "Segoe UI";
    color: #ecf0f1;
    background-color: rgb(52, 53, 65);
}

QPushButton {
    background-color: rgb(64, 65, 79);
    color: #ecf0f1;
    border: 0px;
    font-size: 14px;
    border-radius: 5px;
}

QPushButton:hover {
    background-color: #34495e;
}

QGroupBox {
    background-color: rgb(64, 65, 79);
    border: none;
}

QVBoxLayout#leftPanel {
    background-color: rgb(52, 53, 65);
}

QStackedWidget {
    background-color: rgb(64, 65, 79);
    border-radius: 20px;
    border: none;
}

QPushButton:pressed {
    background-color: #1a2530;
}

QLineEdit {
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
}

QGroupBox {
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    margin-top: 1ex;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding: 0 5px 0 5px;
}

QLabel {
    font-size: 14px;
}
