<!DOCTYPE html>
<html lang="en">

<body onload="createBridge()">
    <h1>Add password</h1>
    <div class="add-password-form">
        <label for="target">Application name</label>
        <input type="text" name="target" id="target" required>
        <br>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <br>
        <label for="Add_icon">Manually provide icon if not found automatically.</label>
        <input type="checkbox" name="Add_icon" id="Add_icon" checked>
        <br>
        <input type="submit" value="Add" id="add" onclick="pushPassword()">
    </div>

    <script src="qrc:///qtwebchannel/qwebchannel.js"></script>

    <script>
        // Create the QWebChannel object and connect to the bridge
        async function createBridge() {
            await new QWebChannel(qt.webChannelTransport, function (channel) {
                window.bridge = channel.objects.bridge;
                print = bridge.printJS;
            });
        }

        // Get the input field
        var input = document.getElementById("password");

        // Execute a function when the user presses a key on the keyboard
        input.addEventListener("keypress", function(event) {
            // If the user presses the "Enter" key on the keyboard
            if (event.key === "Enter" && document.getElementById("username").value != ""  && input.value != "") {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                document.getElementById("add").click();
            }
        });

        function pushPassword() {
        var target = document.getElementById("target").value;
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        var icons = document.getElementById("Add_icon").value;

        // check that the 3 fields are not empty
        if (target === "" || username === "" || password === "") {
            alert("Please fill all the fields");
            return;
        } else {
            bridge.callPushPassword(target, username, password, icons);
        }
    }
    </script>
</body>

</html>
