<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MDSaver - Petchou</title>
    <link rel="stylesheet" href="../static/app.css">
    <script src="https://kit.fontawesome.com/740ac721d2.js" crossorigin="anonymous"></script>
</head>

<body onload="createBridge();">
    <div class="main-container">
        <!-- ### Left Panel ### -->
        <div class="left-section">
            <div class="top-elements">
                <div class="passwords-button">
                    <p onclick="showRightSection('password')">Passwords</p>
                </div>
                <div class="generate-button">
                    <p onclick="showRightSection('generate')">Generate</p>
                </div>
                <div class="accounts-button">
                    <p onclick="showRightSection('account')">Accounts</p>
                </div>

            </div>
            <div class="bottom-element">
                <div class="settings-button">
                    <p>Settings</p>
                </div>
            </div>
        </div>

        <!-- ### Right Panel ### -->
        <!-- -- Passwords Section -- -->
        <div class="right-password-section">
            <div id="top-element"></div>
            <div class="title">
                <p>Salut, Petchou</p>
            </div>
            <div class="buttons-section">
                <div class="search-field">
                    <input type="text" placeholder="Rechercher un site" class="input-search" autofocus>
                    <div class="logo-loupe"> <i class="fas fa-search" onclick="filter()"></i> </div>
                </div>
                <div class="add-account" onclick="showPasswordPopup()">
                    <p>Ajouter un nouveau mot de passe</p>
                    <div class="logo-add"> <i class="fas fa-plus"></i> </div>
                </div>
            </div>
            <div class="popup-container" id="popup" style="display:none;">
                <span class="popup-close-btn" onclick="hidePopup()">&times;</span>
                <h1>Add password here</h1>
                <div class="add-password-form-all">
                    <div class="add-password-form">
                        <label for="target">Application name</label>
                        <input type="text" name="target" id="target" placeholder="application name" required>
                        <br>
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" placeholder="username" required>
                        <br>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="password" required>
                        <br>
                        <label for="Add_icon">Manually provide icon if not found automatically.</label>
                        <input type="checkbox" name="Add_icon" id="Add_icon">
                        <br>
                        <input type="submit" value="Add" id="add" onclick="pushPassword()">
                    </div>
                </div>
            </div>
            <div class="accounts-section">
                
                <div class="account">
                    <div class="logo-left"> <i class="fab fa-twitter"></i> </div>
                    <img src="C:\Users\mathe\Documents\code\MDPSaver\src\main\resources\icons\69af5d80-98ef-476b-b8c5-7becbf06ba578ba860c5-.png" alt="icon" class="twitter_icon">
                    <div class="center-elements">
                        <div class="top-center">
                            <p>Site Web</p>
                            <input type="text" disabled value="twitter" id="twitter-39">
                            <div class="logo-external-link"> <i class="fas fa-external-link-alt"
                                    onclick="openTarget('twitter')"></i> </div>
                        </div>
                        <div class="bottom-center">
                            <div class="username-section">
                                <p>Username/Mail Address</p>
                                <div class="field-username">
                                    <div class="username-zone">
                                        <input type="text" value="qscdv" disabled
                                            id="username-39">
                                    </div>
                                    <div class="copy-logo"> <i class="fas fa-copy"
                                            onclick="copyToClipboard('username-39')"></i> </div>
                                </div>
                            </div>
                            <div class="password-section">
                                <p>Password</p>
                                <div class="field-password">
                                    <div class="password-zone">
                                        <input value="sqccQC" disabled type="password"
                                            id="password-39">
                                        <div class="logo-see-pw"> <i class="fas fa-eye-slash"
                                                onclick="reveal(39)"></i> </div>
                                    </div>
                                    <div class="copy-logo"> <i class="fas fa-copy"
                                            onclick="copyToClipboard('password-39')"></i> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="logo-modify"> <i class="fas fa-user-edit" onclick="enableModification(39)"
                            id="modif-39"></i> </div>
                </div>
                
            </div>
            <a href="#top-element"><i class="fas fa-arrow-circle-up"></i></a>
        </div>

        <!-- -- Generate Section -- -->
        <div class="right-generate-section" style="display: none">

            <!-- SWITCH HEADER -->
            <div class="switch-part-header">
                <button class="simple-gen-button" onclick="switchGenType('1')">SIMPLE</button>
                <button class="advanced-gen-button" onclick="switchGenType('2')">ADVANCED</button>
            </div>
            <div class="generate-title">
                <p id="generate-title-text">Simple Generator</p>
            </div>

            <!-- SIMPLE GEN PART -->
            <div class="simple-generate-part">

                <!-- CIRCLE INPUT -->
                <div class="main-simple-content">
                    <div class="circle-input">
                    <div class="extern">
                        <div class="circular-input"></div>
                        <div class="outer">
                            <div class="inner">
                                <div id="circle-text">CHARACTERS</div>
                                <div id="circle-output">1</div>
                            </div>
                        </div>
                    </div>
                    <svg width="200px" height="200px">
                        <circle cx="100" cy="100" r="80" stroke-linecap="round" id="rotating-circle"></circle>
                    </svg>
                </div>
                <div class="checkbox-part">
                    <div class="checkbox-line">
                        <label class="checkbox-container">INCLUDE NUMBERS
                              <input type="checkbox" checked="checked" id="check-number">
                              <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="checkbox-line">
                        <label class="checkbox-container">INCLUDE SYMBOLS
                              <input type="checkbox" id="check-symbol">
                              <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="checkbox-line">
                        <label class="checkbox-container">INCLUDE UPPERCASE
                              <input type="checkbox" checked="checked" id="check-uppercase">
                              <span class="checkmark"></span>
                        </label>
                    </div>
                </div>

                </div>

            </div>

            <!-- ADVANCED GEN PART -->
            <div class="advanced-generate-part" style="display: none">
                <div class="main-advanced-content">
                    <!-- TODO: let circle have value 0 -->
                    <!-- TODO: max / min of circle fixed -->
                    <!-- TODO: save password possibility -->
                    <!-- FIRST CIRCLE -->
                    <div class="circle-input-1">
                        <div class="extern-1">
                            <div class="circular-input-1"></div>
                            <div class="outer-1">
                                <div class="inner-1">
                                    <div id="circle-text-1">LETTERS</div>
                                    <div id="circle-output-1">1</div>
                                </div>
                            </div>
                        </div>
                        <svg width="150px" height="150px">
                            <circle cx="75" cy="75" r="60" stroke-linecap="round" id="rotating-circle-1"></circle>
                        </svg>
                    </div>

                    <!-- SECOND CIRCLE -->
                    <div class="circle-input-2">
                        <div class="extern-2">
                            <div class="circular-input-2"></div>
                            <div class="outer-2">
                                <div class="inner-2">
                                    <div id="circle-text-2">NUMBERS</div>
                                    <div id="circle-output-2">1</div>
                                </div>
                            </div>
                        </div>
                        <svg width="150px" height="150px">
                            <circle cx="75" cy="75" r="60" stroke-linecap="round" id="rotating-circle-2"></circle>
                        </svg>
                    </div>

                    <!-- THIRD CIRCLE -->
                    <div class="circle-input-3">
                        <div class="extern-3">
                            <div class="circular-input-3"></div>
                            <div class="outer-3">
                                <div class="inner-3">
                                    <div id="circle-text-3">SYMBOLS</div>
                                    <div id="circle-output-3">1</div>
                                </div>
                            </div>
                        </div>
                        <svg width="150px" height="150px">
                            <circle cx="75" cy="75" r="60" stroke-linecap="round" id="rotating-circle-3"></circle>
                        </svg>
                    </div>
                </div>
                <div class="below-advanced-content">
                    <div class="checkbox-part">
                        <div class="checkbox-line">
                            <label class="checkbox-container">INCLUDE UPPERCASE
                                  <input type="checkbox" checked="checked" id="check-advanced-uppercase">
                                  <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>

            </div>

             <!-- BOTTOM GEN PART -->
            <div class="bottom-gen-content">
                <button id="generate-btn" onclick="generatePassword()">Go!</button>
                <br>
                <div class="generated-part">
                    <div class="box-generated-content">
                        <div class="input-container">
                            <div id="generated-passwd"></div>
                        </div>
                        <img onclick="copyToClipboard('generated-passwd')" id="copy-gen-passwd" src="../resources/copy_filled_icon_202354.ico" width="30px" height=30px">
                    </div>
                    <button id="save-gen-btn" disabled>Save</button>
                </div>

            </div>

        <div class="right-accounts-section" style="display: none"></div>
    </div>
</body>

</html>

<!-- import Qt library  -->
<script src="qrc:///qtwebchannel/qwebchannel.js"></script>

<!-- import gradient circle JS functions -->
<script src="../static/circle_simple.js"></script>
<!-- import circle-1-2-3 JS functions -->
<script src="../static/circle_1.js"></script>
<script src="../static/circle_2.js"></script>
<script src="../static/circle_3.js"></script>


<script>

    let simple_circle_gen = false;
    let advanced_circle_gen = false;

    let current_gen = "simple";

    // Get the button
    let mybutton = document.getElementsByClassName("fas fa-arrow-circle-up");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    function showRightSection(section) {
        if (section === "generate") {
            document.getElementsByClassName("right-generate-section")[0].style.display = "block";
            document.getElementsByClassName("right-accounts-section")[0].style.display = "none";
            document.getElementsByClassName("right-password-section")[0].style.display = "none";
            if (simple_circle_gen === false) {
                startCircleScript();
                simple_circle_gen = true;
            }

        } else if (section === "account") {
            document.getElementsByClassName("right-generate-section")[0].style.display = "none";
            document.getElementsByClassName("right-accounts-section")[0].style.display = "block";
            document.getElementsByClassName("right-password-section")[0].style.display = "none";
        } else {
            document.getElementsByClassName("right-generate-section")[0].style.display = "none";
            document.getElementsByClassName("right-accounts-section")[0].style.display = "none";
            document.getElementsByClassName("right-password-section")[0].style.display = "block";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    function copyToClipboard(id) {
        if (id === "generated-passwd") {
            text = document.getElementById(id).innerHTML;
        } else {
            // for input
            text = document.getElementById(id).value;
        }

        bridge.copyToClipBoard(text)
    }

    // TODO
    async function generatePassword() {
        if (current_gen === "simple") {
            // retrieve values from circles / checkboxes
            let uppercase = document.getElementById("check-uppercase").checked;
            let numbers = document.getElementById("check-number").checked;
            let symbols = document.getElementById("check-symbol").checked;
            let length = parseInt(document.getElementById("circle-output").innerHTML);

            // activate the generated part
            document.getElementById("generated-passwd").innerHTML = "";
            document.querySelector(".generated-part").style.filter = "none"
            document.getElementById("save-gen-btn").disabled = true;
            document.getElementById("generate-btn").disabled = true;

            for (let i = 0; i < 25; i++) {
                document.getElementById("generated-passwd").innerText = await bridge.generateSimplePassword(uppercase, numbers, symbols, length);
                await new Promise(r => setTimeout(r, 100));

            }

            document.getElementById("save-gen-btn").disabled = false;
            document.getElementById("generate-btn").disabled = false;

        } else {
            // retrieve values from circles / checkboxes
            let letters = document.getElementById("circle-output-1").innerHTML;
            let numbers = document.getElementById("circle-output-2").innerHTML;
            let symbols = document.getElementById("circle-output-3").innerHTML;
            let uppercase = document.getElementById("check-advanced-uppercase").checked;

            // activate the generated part
            document.getElementById("generated-passwd").innerHTML = "";
            document.querySelector(".generated-part").style.filter = "none"
            document.getElementById("save-gen-btn").disabled = true;

            for (let i = 0; i < 25; i++) {
                printPY(await bridge.generateAdvancedPassword(letters, numbers, symbols, uppercase))
                document.getElementById("generated-passwd").innerText = await bridge.generateAdvancedPassword(letters, numbers, symbols, uppercase);
                await new Promise(r => setTimeout(r, 100));

            }

            document.getElementById("save-gen-btn").disabled = false;
            document.getElementById("generate-btn").disabled = false;
        }

    }

    function reveal(id) {
        passwordType = document.getElementById("password-" + id).type;
        if (passwordType === "text") {
            document.getElementById("password-" + id).type = "password";
        } else {
            document.getElementById("password-" + id).type = "text";
        }
    }

    function enableModification(id) {
        // Save current values
        const site = document.getElementById("site-" + id).value;
        const username = document.getElementById("username-" + id).value;
        const password = document.getElementById("password-" + id).value;

        // Set actions for cancel and apply buttons
        document.getElementById("cancel-" + id).onclick = function () { cancelModification(id, site, username, password) };
        document.getElementById("save-" + id).onclick = function () { applyModification(id) };

        // Enable inputs
        document.getElementById("site-" + id).disabled = false;

        document.getElementById("username-" + id).disabled = false;

        document.getElementById("password-" + id).disabled = false;

        // Show buttons
        document.getElementById("modif-" + id).style.display = "none";
        document.getElementById("save-" + id).style.display = "flex";
        document.getElementById("cancel-" + id).style.display = "flex";
    }

    function disableModification(id) {
        // Disable inputs
        document.getElementById("site-" + id).disabled = true;
        document.getElementById("username-" + id).disabled = true;
        document.getElementById("password-" + id).disabled = true;

        // Hide buttons
        document.getElementById("save-" + id).style.display = "none";
        document.getElementById("cancel-" + id).style.display = "none";

        // Show edit button
        document.getElementById("modif-" + id).style.display = "flex";
    }

    function cancelModification(id, site, username, password) {
        document.getElementById("site-" + id).value = site;
        document.getElementById("username-" + id).value = username;
        document.getElementById("password-" + id).value = password;

        disableModification(id);
    }

    function applyModification(id) {
        const site = document.getElementById("site-" + id).value;
        const username = document.getElementById("username-" + id).value;
        const password = document.getElementById("password-" + id).value;

        bridge.updatePassword(site, username, password, id);

        disableModification(id);

    }

    // Create the QWebChannel object and connect to the bridge
    async function createBridge() {
        await new QWebChannel(qt.webChannelTransport, function (channel) {
            window.bridge = channel.objects.bridge;

            printPY = bridge.printJS;
        });
    }

    function addPassword() {
        bridge.callAddPassword();
    }

    // Function to show the popup
    function showPasswordPopup() {
        var popup = document.getElementById("popup");
        popup.style.display = "block";
    }

    // Function to hide the popup
    function hidePopup() {
        var popup = document.getElementById("popup");
        popup.style.display = "none";
    }

    // Get the input field
    const passwd_input = document.getElementById("password");

    // Execute a function when the user presses a key on the keyboard
    passwd_input.addEventListener("keypress", function (event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter" && document.getElementById("username").value !== "" && passwd_input.value !== "") {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            document.getElementById("add").click();
        }
    });

    async function pushPassword() {
        const target = document.getElementById("target").value;
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;
        const icons = document.getElementById("Add_icon").checked;

        // check that the 3 fields are not empty
        if (target === "" || username === "" || password === "") {
            alert("Please fill all the fields");

        } else {
            await bridge.callPushPassword(target, username, password, icons);
            await bridge.refreshMenu();

        }
    }

    function switchGenType(cur_type) {
        const simple_part = document.querySelector(".simple-generate-part")
        const advanced_part = document.querySelector(".advanced-generate-part")

        const simple_btn = document.querySelector(".simple-gen-button")
        const advanced_btn = document.querySelector(".advanced-gen-button")

        if (cur_type === "2") { // from simple part to advanced
            // Show / Hide corresponding part
            simple_part.style.display = "none";
            advanced_part.style.display = "block";

            // Load Circles
            if (advanced_circle_gen === false) {
                advanced_circle_gen = true;
                startCircle1Script();
                startCircle2Script();
                startCircle3Script();
            }

            // Modify button
            simple_btn.style.color = "black";
            simple_btn.style.borderBottom = "2px solid black";
            simple_btn.style.borderRight = "2px solid black";
            simple_btn.style.boxShadow = "inset 0px -10px 10px -10px rgba(0, 0, 0, 1)"


            advanced_btn.style.color = "#0B99FF";
            advanced_btn.style.borderBottom = "none";
            advanced_btn.style.borderLeft = "none";
            advanced_btn.style.boxShadow = "none";

            // Modify Title
            document.getElementById("generate-title-text").innerText = "Advanced Generator";

            current_gen = "advanced";

        } else { // from advanced par to simple part
            // Show / Hide corresponding part
            advanced_part.style.display = "none";
            simple_part.style.display = "block";

            // Modify button
            advanced_btn.style.color = "black";
            advanced_btn.style.borderBottom = "2px solid black";
            advanced_btn.style.borderLeft = "2px solid black";
            advanced_btn.style.boxShadow = "inset 0px -10px 10px -10px rgba(0, 0, 0, 1)"

            simple_btn.style.color = "#0B99FF";
            simple_btn.style.borderBottom = "none";
            simple_btn.style.borderRight = "none";
            simple_btn.style.boxShadow = "none";

            // Modify Title
            document.getElementById("generate-title-text").innerText = "Simple Generator";

            current_gen = "simple";
        }
    }



</script>