<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="../static/app.css">
  <title>MDSaver - {{ username }}</title>
</head>

<body onload="createBridge()">
    <div class="main-container">
        <div class="left-container">
            <a href="">Accounts</a>
            <a href="">Passowrds</a>
        </div>
        <div class="right-container">
            <div class="header">
                <div class="header-logo"></div>
                <h1>MDPSaver - {{ username }}</h1>
            </div>
            <div class="main">
                <div class="passwd-section">
                    <div class="navbar">
                        <div class="search-block">
                            <input type="text" id="searchflied" placeholder="Search for a site">
                            <button onclick="filter()"> <a href=""><img src="search.ico"></a></button>
                        </div>
                        <div class="add-password-block">
                            <button onclick="showPasswordPopup()">Add a new password</button>
                        </div>

                        <div class="popup-container" id="popup" style="display:none;">
                            <span class="popup-close-btn" onclick="hidePopup()">&times;</span>
                            <h1>Add password here</h1>
                          <div class="add-password-form">
                            <div class="add-password-form">
                                <label for="target">Application name</label>
                                <input type="text" name="target" id="target" required>
                                <br>
                                <label for="username">Username</label>
                                <input type="text" name="username" id="username" required>
                                <br>
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" required>
                                <br>
                                <label for="Add_icon">Manually provide icon if not found automatically.</label>
                                <input type="checkbox" name="Add_icon" id="Add_icon" checked>
                                <br>
                                <input type="submit" value="Add" id="add" onclick="pushPassword()">
                            </div>
                          </div>

                        </div>
                    </div>
                </div>
                  <div class="passwd-list">
                    {% for passwd in passwords %}
                    <div class="passwd-item">
                      <div class="passwd-icon" style="background-image: url({{ passwd.icon }})">
                          <img src="copy_icon.ico">
                      </div>
                      <div class="passwd-info">
                        <div class="passwd-info-row">
                          <div class="passwd-name">
                            <h5>Application or website:</h5>
                            <h4>{{ passwd.target }}</h4>
                              <button class="reveal-button" onclick="openTarget('{{ passwd.target }}')"><img src="copy_icon.ico"> </button>
                          </div>
                          <div class="password-section">
                              <div class="passwd-login">
                                <h5>username / mail adress:</h5>
                                <div class="passwd-block">
                                  <h4>{{ passwd.username }}</h4>
                                    <button onclick="copyToClipboard('{{ passwd.username }}')"><img src="copy_icon.ico"></button>
                                </div>
                              </div>
                              <div class="passwd-password">
                                <h5>password:</h5>
                                <div class="passwd-block">
                                  <h4>{{ passwd.password }} <button onclick="reveal()"><img src="copy_icon.ico"></button></h4>
                                    <button onclick="copyToClipboard('{{ passwd.password }}')"><img src="copy_icon.ico"></button>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="passwd-edit-icon" style="background-image: url({{ passwd.icon }})">
                          <img src="copyicon.ico">
                      </div>
                    </div>
                    {% endfor %}
                  </div>
            </div>
        </div>
    </div>

</body>

</html>




    <!-- import Qt library  -->
    <script src="qrc:///qtwebchannel/qwebchannel.js"></script>

    <script>
        // Create the QWebChannel object and connect to the bridge
        async function createBridge() {
            await new QWebChannel(qt.webChannelTransport, function (channel) {
            window.bridge = channel.objects.bridge;

            print = bridge.printJS;
        });
        }

        function addPassword() {
            bridge.callAddPassword();
        }

        // Function to show the popup
        function showPasswordPopup() {
          var popup = document.getElementById("popup");
          popup.style.display = "block";
        }

        // Function to hide the popup
        function hidePopup() {
          var popup = document.getElementById("popup");
          popup.style.display = "none";
        }

        // Get the input field
        var input = document.getElementById("password");

        // Execute a function when the user presses a key on the keyboard
        input.addEventListener("keypress", function(event) {
            // If the user presses the "Enter" key on the keyboard
            if (event.key === "Enter" && document.getElementById("username").value !== ""  && input.value !== "") {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                document.getElementById("add").click();
            }
        });

        async function pushPassword() {
            const target = document.getElementById("target").value;
            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;
            const icons = document.getElementById("Add_icon").value;

            // check that the 3 fields are not empty
            if (target === "" || username === "" || password === "") {
                alert("Please fill all the fields");

            } else {
                await bridge.callPushPassword(target, username, password, icons);
                await bridge.refreshMenu();

            }
        }
    </script>

