<!DOCTYPE html>
<html lang="en">

    <body onload="createBridge()">
        <div class="header">
            <div class="header-logo"></div>
            <h1>MDPSaver - {{ username }}</h1>
        </div>
        <div class="main">
                <div class="passwd-section">
                    <div class="navbar">
                        <div class="search-block">
                            <input type="text" id="searchflied">
                            <button onclick="filter()">Search</button>
                        </div>
                        <button onclick="addPassword()">Add</button>
                    </div>

                    <div class="passwd-list">
                        {% for passwd in passwords %}
                        <div class="passwd-item">
                            <div class="passwd-icon" style="background-image: {{ passwd.icon }}"></div>

                            <div class="passwd-data">
                                <div class="passwd-name">
                                    <h5>Application or website : </h5>
                                    <h2>{{ passwd.name }}</h2>
                                    <button onclick="openTarget({{ passwd.target }})">Open</button>
                                </div>
                                <div class="passwd-login">
                                    <h5>Login : </h5>
                                    <div class="passwd-block">
                                        <h3>{{ passwd.login }}</h3>
                                        <button onclick="copyToClipboard({{ passwd.login }})">Copy</button>
                                    </div>
                                </div>
                                <div class="passwd-password">
                                    <h5>Password : </h5>
                                    <div class="passwd-block">
                                        <h3>{{ passwd.password }} <button onclick="reveal()">reveal</button></h3>
                                        <button onclick="copyToClipboard({{ passwd.password }})">Copy</button>
                                    </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>


    <!-- import Qt library  -->
    <script src="qrc:///qtwebchannel/qwebchannel.js"></script>

    <script>
        // Create the QWebChannel object and connect to the bridge
        async function createBridge() {
            await new QWebChannel(qt.webChannelTransport, function (channel) {
            window.bridge = channel.objects.bridge;

            print = bridge.printJS;
        });
        }

        function addPassword() {
            bridge.callAddPassword();
        }
    </script>

