<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="../static/app.css">
  <title>MDSaver - {{ username }}</title>
</head>

<body onload="createBridge()">
    <div class="main-container">
        <div class="left-container">
            <a href="">Passowrds</a>
            <a href="">Generate</a>
            <a href="">Settings</a>
        </div>
        <div class="right-container">
            <div class="header">
                <h1>Salut, {{ username }}</h1>
            </div>
            <div class="main">
                <div class="passwd-section">
                    <div class="navbar">
                        <div id="cover">
                            <div class="tb">
                              <div class="td"><input type="text" placeholder="Search for a site"></div>
                              <div class="td" id="s-cover">
                                <button onclick="filter()">
                                  <div id="s-circle"></div>
                                  <span></span>
                                </button>
                              </div>
                            </div>
                        </div>
                        <div class="add-password-block">
                            <button onclick="showPasswordPopup()">Add a new password <b>+</b></button>
                        </div>

                        <div class="popup-container" id="popup" style="display:none;">
                            <span class="popup-close-btn" onclick="hidePopup()">&times;</span>
                            <h1>Add password here</h1>
                            <div class="add-password-form-all">
                                <div class="add-password-form">
                                    <label for="target">Application name</label>
                                    <input type="text" name="target" id="target" placeholder="application name" required>
                                    <br>
                                    <label for="username">Username</label>
                                    <input type="text" name="username" id="username" placeholder="username" required>
                                    <br>
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password" placeholder="password" required>
                                    <br>
                                    <label for="Add_icon">Manually provide icon if not found automatically.</label>
                                    <input type="checkbox" name="Add_icon" id="Add_icon" checked>
                                    <br>
                                    <input type="submit" value="Add" id="add" onclick="pushPassword()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="passwd-list" id="passwd-list-top">
                    {% for passwd in passwords %}
                    <div class="passwd-item">
                      <div class="passwd-icon" style="background-image: url({{ passwd.icon }})">
                          <img src="../resources/blank-profile-picture.ico" width="70px" height="70px">
                      </div>
                    <div class="passwd-info-row">
                      <div class="passwd-name">
                        <h5>Application or website:</h5>
                        <div class="passwd-block-header-name">
                            <h4>{{ passwd.target }}</h4>
                        </div>
                          <div class="passwd-block-button-name">
                              <button class="reveal-button" onclick="openTarget('{{ passwd.target }}')"><img src="../resources/pop_out_external_link_open_icon_178265.ico" width="25px" height="25px"> </button>
                          </div>
                      </div>
                      <div class="password-section">
                          <div class="passwd-login">
                            <h5>username / mail adress:</h5>
                            <div class="passwd-block">
                                <h4>{{ passwd.username }}</h4>
                                <button onclick="copyToClipboard('{{ passwd.username }}')"><img src="../resources/copy_filled_icon_202354.ico" width="25px" height="25px"></button>
                            </div>
                          </div>
                          <div class="passwd-password">
                            <h5>password:</h5>
                            <div class="passwd-block">
                                <h4>{{ passwd.password }} </h4>
                                <button class="reveal" onclick="reveal()"><img src="../resources/hide_icon_148530.ico" width="25px" height="20px"></button>
                                <button onclick="copyToClipboard('{{ passwd.password }}')"><img src="../resources/copy_filled_icon_202354.ico" width="25px" height="25px"></button>
                            </div>
                          </div>
                      </div>
                    </div>
                      <div class="passwd-edit-icon">
                          <button onclick=""><img src="../resources/person_edit_filled_icon_200410.ico" width="25px" height="25px"></button>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
            </div>
        </div>
    </div>

</body>

</html>




    <!-- import Qt library  -->
    <script src="qrc:///qtwebchannel/qwebchannel.js"></script>

    <script>

        // Get the button
        let mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }


        // Create the QWebChannel object and connect to the bridge
        async function createBridge() {
            await new QWebChannel(qt.webChannelTransport, function (channel) {
            window.bridge = channel.objects.bridge;

            print = bridge.printJS;
        });
        }

        function addPassword() {
            bridge.callAddPassword();
        }

        // Function to show the popup
        function showPasswordPopup() {
          var popup = document.getElementById("popup");
          popup.style.display = "block";
        }

        // Function to hide the popup
        function hidePopup() {
          var popup = document.getElementById("popup");
          popup.style.display = "none";
        }

        // Get the input field
        var input = document.getElementById("password");

        // Execute a function when the user presses a key on the keyboard
        input.addEventListener("keypress", function(event) {
            // If the user presses the "Enter" key on the keyboard
            if (event.key === "Enter" && document.getElementById("username").value !== ""  && input.value !== "") {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                document.getElementById("add").click();
            }
        });

        async function pushPassword() {
            const target = document.getElementById("target").value;
            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;
            const icons = document.getElementById("Add_icon").value;

            // check that the 3 fields are not empty
            if (target === "" || username === "" || password === "") {
                alert("Please fill all the fields");

            } else {
                await bridge.callPushPassword(target, username, password, icons);
                await bridge.refreshMenu();

            }
        }
    </script>

