<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../static/login.css">
    <body onload="createBridge()">
        <h1>MDPSaver</h1>
        <div class="login-body">
            <h2 style="color: red;" id="wrong_password"></h2>

            <select id="username_input">
                {% for username in usernames %}
                    <option value="{{username[0]}}">{{username[0]}}</option>
                {% endfor %}
            </select>

            <label for="password_input">
                <b>Password</b>
            </label>
            <input placeholder="Password..." type="password" id="password_input">
            <button class="forget-button" onclick="callRecovery()"><b>Forgot password ?</b></button>
            <button onclick="submitLogin()" id="login-button">Login</button>
            <button onclick="bridge.callStartup()">Create Account</button>
        </div>
    </body>
</html>

<script src="qrc:///qtwebchannel/qwebchannel.js"></script>
<script>
    // Create the QWebChannel object and connect to the bridge
    async function createBridge() {
        await new QWebChannel(qt.webChannelTransport, function (channel) {
        window.bridge = channel.objects.bridge;

        print = bridge.printJS;
    });
    }




    function callStartup() {
        bridge.callStartup();
    }

    function callRecovery() {
        const username = document.getElementById("username_input").value;
        bridge.callRecovery(username);
    }

    async function submitLogin() {


        const username = document.getElementById("username_input").value;
        const password = document.getElementById("password_input").value;

        if (await bridge.submitLogin(username, password) === true) {
            bridge.callMain();
        } else {
            document.getElementById("wrong_password").innerHTML = "Incorrect password";
        }

    }

    // Get the input field
        var input = document.getElementById("password_input");

        // Execute a function when the user presses a key on the keyboard
        input.addEventListener("keypress", function(event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            document.getElementById("login-button").click();
        }
        });

</script>

