<!DOCTYPE html>
<html lang="en">

    <body>
        <p>startup</p>
        <label for="input">
            Input:
        </label>
        <input type="text" id="input">
        <button>
            submit the
        </button>
    </body>
</html>

<script src="qrc:///qtwebchannel/qwebchannel.js"></script>
<script>
    // Create the QWebChannel object and connect to the bridge
        new QWebChannel(qt.webChannelTransport, function (channel) {
            window.bridge = channel.objects.bridge;
        });



</script>