QPushButton {
    background-color: white;
    border: 0px;
}

QLineEdit {
    background-color: white;
    border: 0px;
}

QGroupBox {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}
