/* TODO: Clear useless style */
/*XXX: QPushButton also applies to button in messagebox, should add object name to next button*/
QWidget#answering {
    background-color: #151515;
}

QWidget#newinfo {
    background-color: #151515;
}

QMainWindow#recovery {
    background-color: #151515;
}

QLabel#title {
    font-size: 26px;
    font-weight: bold;
    color: white;
}

QLabel#question {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    background-color: rgb(75, 75, 75);
    border: 3px solid rgb(75, 75, 75);
    border-radius: 5px;
}

QFrame#line{
    background-color: #2fa572;
    margin-right: 60px;
    margin-left: 60px;
    border: 0px;
}

QLabel {
    color: white;
}

QGroupBox#question-group {
    border: 2px solid rgb(75, 75, 75);
    border-radius: 5px;
}

QPushButton {
    color: #FFFFFF;
    background-color: #2fa572;
    font-size: 20px;
    font-weight:bold;
    border: none;
    border-radius: 5px;
}

QPushButton:hover {
    background-color: #2f8c66;
    border: 4px solid white;
}

QPushButton#backButton {
    background-color: #797979;
    font-weight: normal;
}

QPushButton#backButton :hover {
    background-color: #636363;
    font-weight: bold;
    border: none;
}

QLineEdit {
    border-radius: 4px;
}

QMessageBox{
    background-color: #151515;
}